.vscode/
.release/
.resources/

#external libraries
Libs/*

!Libs/CallbackHandler.lua
!Libs/PixelPerfect.lua
!Libs/FAIAP.lua
!Libs/utf8.lua
!Libs/LibGroupInfo.lua
!Libs/LoadLibs.xml
!Libs/LoadLibs_Classic.xml
!Libs/LibTranslit-1.0