# ignored
.vscode/
.release/*
.resources/
.utils/*.csv
Libs/*

# excluded
!.release/*.sh
!Libs/CallbackHandler.lua
!Libs/PixelPerfect.lua
!Libs/FAIAP.lua
!Libs/utf8.lua
!Libs/LibSpecData.lua
!Libs/LibGroupInfo.lua
!Libs/LibBadWords.lua
!Libs/LoadLibs.xml
!Libs/LoadLibs_Classic.xml
!Libs/LibTranslit-1.0